<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mat-elevation-z8">
                    <div class="header">
                        <div class="col-xs-10">
                            <h4 class="title">Clientes</h4>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-primary btn-fill pull-right" (click)="openDialog()">
                                <i class="pe-7s-add-user icon"></i>
                                <span>Agregar Cliente</span>
                            </button>
                        </div>
                        <!-- <p class="category">Here is a subtitle for this table</p> -->
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <ng-container *ngFor="let cell of tableClients.columns; let index=index;">
                                            <th *ngIf="index != (tableClients.columns.length - 1)">{{ cell }}</th>
                                            <th *ngIf="index == (tableClients.columns.length - 1)" [@column]="state">{{ cell }}</th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody *ngIf="tableClients.rows.length">
                                    <tr *ngFor="let client of tableClients.rows; let index = index;"
                                    (mouseover)="states[index] = 'active'; state = 'active'"
                                    (mouseout)="states[index] = 'inactive'; state = 'inactive'">
                                        <td>{{client.rfc}}</td>
                                        <td>{{client.razonsocial}}</td>
                                        <td>{{client.apellidos}}</td>
                                        <td>{{client.created_at | date: 'shortDate'}}</td>
                                        <td>{{client.telefono}}</td>
                                        <td>{{client.email}}</td>
                                        <td [@buttons]="states[index]">
                                            <div class="col-xs-6">
                                                <button mat-mini-fab color="primary" (click)="openEditUserDialog(user)">
                                                    <i class="pe-7s-note icon"></i>
                                                </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button mat-mini-fab color="warn" (click)="openDeleteUserDialog(user)">
                                                    <i class="pe-7s-trash icon"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!tableClients.rows.length">
                                    <tr>
                                        <td class="text-center" [attr.colspan]="tableClients.columns.length">
                                            <h2>NO HAY USUARIOS DADOS DE ALTA</h2>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
