<div class="main-content" (window:resize)="onResize($event)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mat-elevation-z8">
                    <div class="header">
                        <div class="col-xs-12">
                            <h4 class="title">Facturas</h4>
                        </div>
                        <!-- <p class="category">Here is a subtitle for this table</p> -->
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <ng-container *ngFor="let cell of tableFacturas.columns; let index=index;">
                                        <th *ngIf="index != (tableFacturas.columns.length - 1)">{{ cell }}</th>
                                        <th *ngIf="index == (tableFacturas.columns.length - 1)" [@column]="state">{{ cell }}</th>
                                    </ng-container>
                                </tr>
                                </thead>
                                <tbody *ngIf="tableFacturas.rows.length">
                                <tr *ngFor="let factura of tableFacturas.rows; let index = index;"
                                    (mouseover)="states[index] = 'active'; state = 'active'"
                                    (mouseout)="states[index] = 'inactive'; state = 'inactive'">
                                    <td>
                                        <table class="table table-hover table-striped mat-elevation-z8">
                                            <thead>
                                            <tr>
                                                <th>RFC</th>
                                                <th>Razón Social</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngIf="factura.customer">
                                                <td>{{factura.customer.tax_id}}</td>
                                                <td>{{factura.customer.legal_name}}</td>
                                            </tr>
                                            <tr *ngIf="!factura.customer">
                                                <td>CLIENTE ELIMINADO</td>
                                                <td>{{factura.customer_name}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>{{factura.payment_form | paymentForm}}</td>
                                    <td>{{(factura.total / 1.16)}}</td>
                                    <td>{{((factura.total / 1.16) * 0.16)}}</td>
                                    <td>{{factura.total}}</td>
                                    <td>{{factura.created_at | date: 'shortDate'}}</td>
                                    <td>{{(factura.status === 'valid' ? 'VÁLIDA': 'CANCELADA')}}</td>
                                    <td><button mat-button (click)="openConceptosDialog(factura)">Ver</button></td>
                                    <td [@buttons]="states[index]">
                                        <div class="col-xs-12 col-md-4">
                                            <button mat-mini-fab color="basic"
                                                    (click)="sendFactura(factura.id)">
                                                <i class="pe-7s-cloud-upload icon"></i>
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button mat-mini-fab color="primary"
                                                    (click)="download(factura.id)">
                                                <i class="pe-7s-cloud-download icon"></i>
                                            </button>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button mat-mini-fab color="warn"
                                                    (click)="openDeleteDialog(factura)">
                                                <i class="pe-7s-close-circle icon"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody *ngIf="!tableFacturas.rows.length">
                                <tr>
                                    <td class="text-center" [attr.colspan]="tableFacturas.columns.length">
                                        <h2>NO HAY FACTURAS DADAS DE ALTA</h2>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
