<h2 matDialogTitle>
    <span>{{title}}</span>
    <i [ngClass]="icon" class="icon pull-right"></i>
</h2>
<mat-dialog-content>
    <form id="clientForm" (ngSubmit)="onSubmit(clientForm)" [formGroup]="clientForm" novalidate>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <mat-form-field class="full-width">
                        <input type="text" matInput placeholder="RFC" formControlName="tax_id" required>
                        <mat-error *ngIf="clientForm.controls['tax_id'].hasError('required')">
                            El RFC es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="text" matInput placeholder="Razón Social" formControlName="legal_name"
                               required>
                        <mat-error *ngIf="clientForm.controls['legal_name'].hasError('required')">
                            La Razón Social es <strong>requerida</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input type="email" matInput placeholder="Correo Electrónico" formControlName="email"
                               required>
                        <mat-error *ngIf="clientForm.controls['email'].hasError('required')">
                            El Correo Electrónico es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                    <div formGroupName="address">
                        <mat-form-field class="full-width">
                            <input type="email" matInput placeholder="Código Postal" formControlName="zip"
                                   required>
                            <mat-error *ngIf="clientForm.controls['address'].get('zip').hasError('required')">
                                El Código Postal es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-right">
                    <button type="submit" form="clientForm" class="btn btn-success" [disabled]="clientForm.invalid">
                        <span>Guardar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
