<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card mat-elevation-z8">
                  <div class="header">
                      <div class="col-xs-12">
                          <h4 class="title">Cambiar Password</h4>
                      </div>
                      <!-- <p class="category">Here is a subtitle for this table</p> -->
                  </div>
                  <div class="content">
                      <form id="userForm" (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" novalidate>
                        <div class="container-fluid">
                          <div class="row">
                            <mat-form-field class="full-width">
                              <input type="password" matInput placeholder="Contraseña Anterior" formControlName="oldPassword" required>
                              <mat-error *ngIf="userForm.controls['oldPassword'].hasError('required')">
                                La contraseña anterior es <strong>requerida</strong>
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                              <input type="password" matInput placeholder="Nueva Contraseña" formControlName="password" required>
                              <mat-error *ngIf="userForm.controls['password'].hasError('required')">
                                La Nueva contraseña es <strong>requerida</strong>
                              </mat-error>
                            </mat-form-field>

                              <mat-form-field class="full-width">
                                <input type="password" matInput placeholder="Re Nueva Contraseña" formControlName="rePassword" required>
                                <mat-error *ngIf="userForm.controls['rePassword'].hasError('required')">
                                  La Nueva contraseña es <strong>requerida</strong>
                                </mat-error>
                              </mat-form-field>
                          </div>
                        </div>

                        <div class="container-fluid">
                          <div class="row">
                            <div class="pull-right">
                              <!-- [matDialogClose]="true" -->
                              <button type="submit" form="userForm" class="btn btn-success" [disabled]="userForm.invalid">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
