<h2 matDialogTitle>
    <span>{{title}}</span>
    <i [ngClass]="icon" class="icon pull-right"></i>
</h2>
<mat-dialog-content>
    <form id="userForm" (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm" novalidate>
        <div class="container-fluid">
            <div class="row">
                <h2 class="dialog-subtitle">Datos Personales</h2>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input type="text" matInput placeholder="Nombre" formControlName="nombre" required>
                    <mat-error *ngIf="userForm.controls['nombre'].hasError('required')">
                        El Nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input type="text" matInput placeholder="Apellidos" formControlName="apellidos" required>
                    <mat-error *ngIf="userForm.controls['apellidos'].hasError('required')">
                        Los Apellidos son <strong>requeridos</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input type="text" matInput placeholder="Nombre de Usuario" formControlName="username" required>
                    <mat-error *ngIf="userForm.controls['username'].hasError('required')">
                        El Nombre de Usuario es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-xs-12 col-sm-6">
                    <input type="password" matInput placeholder="Contraseña" formControlName="password"
                           [required]="!edit">
                    <mat-error *ngIf="userForm.controls['password'].hasError('required')">
                        La Contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
                <div class="col-xs-12">
                    <p class="dialogSubtitle">{{passMessage}}</p>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <button class="btn btn-default" matDialogClose>Cerrar</button>
            </div>
            <div class="col-xs-6">
                <!-- [matDialogClose]="true" -->
                <button type="submit" form="userForm" class="btn btn-success" [disabled]="userForm.invalid">Guardar
                    Usuario
                </button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
