<h2 class="row" matDialogTitle>
    <div class="col-xs-6">
        <span>{{title}}</span>
    </div>
    <div class="col-xs-3">
        <mat-checkbox class="pull-right small" (change)="simple()" [(ngModel)]="simpleMode" matTooltip="Oculta las descripciones">Modo Simple</mat-checkbox>
    </div>
    <div class="col-xs-3">
        <i [ngClass]="icon" class="icon pull-right"></i>
    </div>

</h2>
<mat-dialog-content>
    <div class="content">
        <div class="table-responsive">
            <table class="table table-hover table-striped text-center">
                <thead>
                <tr>
                    <ng-container *ngFor="let cell of tableDepartments.columns; let index=index;">
                        <th class="text-center" *ngIf="(cell !== 'Descripción' || !simpleMode) && index !== (tableDepartments.columns.length - 1)">{{ cell }}</th>
                        <th class="text-center" *ngIf="(cell !== '' || !simpleMode) && index === (tableDepartments.columns.length - 1)">{{ cell }}</th>
                    </ng-container>
                </tr>
                </thead>
                <tbody *ngIf="tableDepartments.rows.length">
                <tr *ngFor="let department of tableDepartments.rows; let index = index;">
                    <td>{{department.name}}</td>
                    <td class="small" *ngIf="!simpleMode">{{department.desc}}</td>
                    <td [attr.colspan]="simpleMode ? 1 : 2" >
                        <table class="table table-hover table-striped mat-elevation-z8">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th *ngIf="!simpleMode">Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let role of department.roles;">
                                    <td>{{role.name}}</td>
                                    <td class="small" *ngIf="!simpleMode">{{role.desc}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                <tbody *ngIf="!tableDepartments.rows.length">
                <tr>
                    <td class="text-center" [attr.colspan]="tableDepartments.columns.length">
                        <h2>NO HAY DEPARTAMENTOS DADOS DE ALTA PARA EL USUARIO</h2>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default btn-block" matDialogClose>Cerrar</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
