<form id="facturaForm" (ngSubmit)="onSubmit(facturaForm)" [formGroup]="facturaForm" (window:resize)="onResize($event)"
      novalidate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="dialog-subtitle">Datos del Cliente</h2>
                <div class="col-xs-12" [ngClass]="{'text-center': !isMobile}">
                    <button type="button" class="btn btn-primary btn-fill"
                            [ngClass]="{'btn-block': isMobile}"
                            (click)="openAddClientDialog()">
                        <i class="pe-7s-plus icon"></i>
                        <span>Cliente Nuevo</span>
                    </button>
                </div>

                <mat-form-field class="col-xs-12 full-width">
                    <input matInput placeholder="Selecciona un Cliente" aria-label="State" [matAutocomplete]="auto"
                           formControlName="customer" required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayClient">
                        <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                            <span>{{ client.tax_id }}</span> |
                            <span>{{ client.legal_name }}</span> |
                            <small>Email: {{client.email}}</small>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="facturaForm.controls['customer'].hasError('required')">
                        El Cliente es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="facturaForm.controls['customer'].hasError('clientDontExists')">
                        Ese Cliente <strong>NO EXISTE</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xs-12">
                <h2 class="dialog-subtitle">Forma de Pago</h2>
                <mat-form-field class="col-xs-12 col-sm-6 full-width">
                    <mat-select placeholder="Forma de Pago" formControlName="payment_form" required>
                        <mat-option *ngFor="let formadepago of formasdepago" [value]="formadepago.code">
                            {{formadepago.description}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="facturaForm.controls['payment_form'].hasError('required')">
                        La Forma de Pago es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xs-12">
                <h2 class="dialog-subtitle">Conceptos</h2>
                <div class="col-xs-12" [ngClass]="{'text-center': !isMobile}">
                    <button type="button" class="btn btn-primary btn-fill"
                            [ngClass]="{'btn-block': isMobile}"
                            (click)="openAddProductDialog()">
                        <i class="pe-7s-plus icon"></i>
                        <span>Producto Nuevo</span>
                    </button>
                </div>
                <div formArrayName="items">
                    <div class="col-xs-12 margin-bottom-25 concepto"
                         *ngFor="let concepto of facturaForm.get('items').controls; let i=index">
                        <div [formGroupName]="i">
                            <div class="col-xs-12 col-sm-3">
                                <mat-form-field class="full-width">
                                    <input type="number" step="any" min="0" matInput placeholder="Cantidad"
                                           formControlName="quantity" (change)="calcularImporte(i)" required>
                                    <mat-error *ngIf="concepto.get('quantity').hasError('required')">
                                        La Cantidad es <strong>requerida</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Selecciona un Producto" aria-label="State" [matAutocomplete]="auto"
                                           formControlName="product" required>
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct" (optionSelected)="calcularImporte(i)">
                                        <mat-option *ngFor="let product of filteredProducts[i] | async" [value]="product">
                                            <span>{{product.description}}</span> |
                                            <small>${{product.price}}</small>
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error *ngIf="concepto.get('product').hasError('required')">
                                        El Producto es <strong>requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="concepto.get('product').hasError('productDontExists')">
                                        Ese Producto <strong>NO EXISTE</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <mat-form-field class="full-width">
                                    <input type="number" step="any" min="0" matInput placeholder="Importe"
                                           formControlName="importe" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-sm-1">
                                <button *ngIf="i != 0 || (facturaForm.get('items').controls.length) > 1"
                                        type="button" class="btn btn-danger btn-fill btn-block"
                                        (click)="removeConcepto(i)">
                                    <i class="pe-7s-close-circle icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" [ngClass]="{'text-center': !isMobile}">
                    <button type="button" class="btn btn-primary btn-fill"
                            [ngClass]="{'btn-block': isMobile}"
                            (click)="addConcepto()">
                        <i class="pe-7s-plus icon"></i>
                        <span>Otro Concepto</span>
                    </button>
                </div>
            </div>

            <div class="col-xs-12">
                <h2 class="dialog-subtitle">Totales</h2>
                <mat-form-field class="full-width">
                    <input type="number" step="any" min="0" matInput placeholder="Sub-Total" formControlName="subtotal"
                           readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="number" step="any" min="0" matInput placeholder="I.V.A." formControlName="iva"
                           readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input type="number" step="any" min="0" matInput placeholder="Total Neto"
                           formControlName="totalneto" readonly>
                </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6" [ngClass]="{'text-center': !isMobile}">
                <button type="submit" form="facturaForm" class="btn btn-success btn-fill"
                        [ngClass]="{'btn-block': isMobile}" [disabled]="facturaForm.invalid">
                    <i class="pe-7s-upload icon"></i>
                    <span>Guardar Factura</span>
                </button>
            </div>

            <div class="col-xs-12 col-sm-6" [ngClass]="{'text-center': !isMobile, 'margin-top-15': isExtraSmall}">
                <button (click)="sendFactura(); $event.preventDefault()" class="btn btn-default btn-fill"
                        [ngClass]="{'btn-block': isMobile}" [disabled]="!id">
                    <i class="pe-7s-upload icon"></i>
                    <span>Enviar Factura</span>
                </button>
            </div>
        </div>
    </div>
</form>
