<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" href="#" *ngIf="user.logged">{{getTitle()}}</p>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left" *ngIf="user.logged">
                <li>
                    <mat-form-field>
                        <mat-select placeholder="Usar Como" [value]="usingAs" (change)="useBy($event)">
                            <mat-option value="1">
                                MAURICIO ALEJANDRO MARTINEZ PACHECO
                            </mat-option>
                            <mat-option value="2">
                                BEATRIZ MARGARITA PACHECO RODRIGUEZ
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="login-color">{{user.nombre}}
                        <p>
                            <i class="pe-7s-user icon session-icon"></i>
                            <b class="caret"></b>
                        </p>
                    </div>
                    </a>
                    <ul class="dropdown-menu" *ngIf="user.logged">
                        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                            <a [routerLink]="[menuItem.path]" *ngIf="menuItem.path != 'logout'">
                                <i class="{{menuItem.icon}}"></i>
                                <p>{{menuItem.title}}</p>
                            </a>
                            <a (click)="logout()" *ngIf="menuItem.path == 'logout'">
                                <i class="{{menuItem.icon}}"></i>
                                <p>{{menuItem.title}}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
