<div class="wrapper">
    <spinner backgroundColor="#0000FF" spinner="sk-chasing-dots"></spinner>
    <div class="sidebar" data-color="blue" data-image="" *ngIf="user.logged">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(/assets/img/background.png)"></div>
    </div>

    <div class="main-panel" [ngClass]="{'full-width': !user.logged}">
        <app-navbar-cmp [user]="user"></app-navbar-cmp>
        <router-outlet></router-outlet>
    </div>
</div>
