/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.icon{
    font-size: 20px!important;
    vertical-align: middle!important;
}

.btn{
    font-size: 12px!important;
}

.mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)!important;
}

.session-icon{
    font-size: 20px!important;
}

.dialogSubtitle{
    font-size: 12px;
}

.margin-bottom-25{
    margin-bottom: 25px!important;
}

.margin-top-15{
    margin-top: 15px!important;
}

.full-width{
    width: 100%!important;
}

.dialog-subtitle{
    font-size: 18px!important;
    font-weight: normal!important;
    margin-bottom: 0px!important;
    margin-top: 0px!important;
    line-height: 40px!important;
}

.padding-left-0{
    padding-left: 0px!important;
}

.login-color{
    color : #06A806;
}

.vcenter{
    min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
